*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:sans-serif;
}

a, a:active{
    text-decoration: none;
    color: white;
    font-size: 6vw;
    font-weight: bold;
}

#world{
    width:100vw;
    height:100vh;
    position:relative;
}

.screen{
    position:absolute;
    width:100vw;
    height:100vh;
}

/* HOME */

#home{
    left:0;
    top:0;
    background:#ffffff;
}

#main{
    position:absolute;
    inset: 0;
    height: 100%;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: white;
}
#main h1{
    z-index: 10;
}
#main img{
    height: 100vh;
    width: auto;
    position: absolute; top: 0; left: 0;
}
#one{
    position: absolute; top: 10%; left: 0%;
    width: 50%;
    height: 30%;
    overflow: hidden;
}
#two{
    position: absolute; top: 20%; left: 10%;
    width: 55%;
    height: 40%;
    overflow: hidden;
}
#three{
    position: absolute; top: 50%; left: 40%;
    width: 70%;
    height: 30%;
    overflow: hidden;
}
#four{
    position: absolute; top: 0%; left: 50%;
    width: 50%;
    height: 40%;
    overflow: hidden;
}
#five{
    position: absolute; top: 50%; left: 0%;
    width: 60%;
    height: 60%;
    overflow: hidden;
}

#six{
    position: absolute; top: 30%; left: 5%;
    width: 50%;
    height: 30%;
    overflow: hidden;
}
#seven{
    position: absolute; top: 70%; left: 50%;
    width: 50%;
    height: 30%;
    overflow: hidden;
}

#map-bg{
    position:absolute;
    inset: 0;

    display:flex;
    align-items:center;
    justify-content:center;

    opacity: 1;
}
#map-bg img{
    height: 100%;
    width: 100%;
}

#logo{
    position:absolute;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:20px;
}

/* ROUTEN */

#routes{
    right:100vw;
    top: 30px;

    overflow:auto;
}
#routes h1{
    padding: 10%;
}

.route-card{
    background:rgb(0, 0, 0);
    color: white;

    padding: 25px;
    margin-left: 50px;
}

/* NEARBY */

#nearby{
    left:0;
    bottom:-100vh;


    padding:20px;
}

.card-container{

    margin-top:30px;

    display:flex;
    gap:20px;

    overflow-x:auto;

    scroll-snap-type:x mandatory;
}

.place-card{

    min-width:80vw;
    height:60vh;

    background:rgba(0, 0, 0, 1);
    color: white;

    border-radius:25px;

    padding:30px;

    scroll-snap-align:center;
}

#overlay{
    inset: 0;
}

.cross{
    position: absolute;
    height: 10vw;
    width: auto;
}
#ctopleft{
    top: 0;
    left: 0;
}
#ctopright{
    top: 0;
    right: 0;
}
#cbotleft{
    bottom: 0;
    left: 0;
}
#cbutleft{
    bottom: 0;
    right: 0;
}
#cmidleft{
    top: 50%;
    left: 0;
}
#cmidright{
    top: 50%;
    right: 0;
}