
@font-face {
    font-family: altehaas;
    src: url('../fonts/altehaas/AlteHaasGroteskRegular.ttf') format('truetype');
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:sans-serif;
}

a, a:active{
    text-decoration: none;
    color: white;
    font-size: 6vw;
    font-weight: bold;
}

#world{
    width:100vw;
    height:100vh;
    position:relative;
}

.screen{
    position:absolute;
    width:100vw;
    height:100vh;
}

/* HOME */

#home{
    left:0;
    top:0;
    background:#ffffff;
}

#main{
    position:absolute;
    inset: 0;
    height: 100%;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: white;
}
#main h1{
    z-index: 10;
}
#main img{
    position: absolute;
    width: auto;
    mix-blend-mode: multiply;
}
#one{
    top: 10%; left: 0%;
    height: 30%;
}
#two{
    top: 20%; left: 10%;
    height: 40%;
}
#three{
    top: 50%; left: 40%;
    height: 30%;
}
#four{
    top: 0%; left: 50%;
    height: 40%;
}
#five{
    top: 50%; left: 0%;
    height: 60%;
}

#six{
    top: 30%; left: 5%;
    height: 30%;
}
#seven{
    top: 70%; left: 50%;
    height: 30%;
}

#map-bg{
    position:absolute;
    inset: 0;

    display:flex;
    align-items:center;
    justify-content:center;

    opacity: 1;
}
#map-bg img{
    height: 100%;
    width: 100%;
}

#logo{
    position:absolute;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:20px;
}

/* ROUTEN */

#routes{
    right:100vw;
    top: 30px;

    overflow:auto;
}
#routes h1{
    padding: 10%;
}

.route-card{
    background:rgb(0, 0, 0);
    color: white;

    padding: 25px;
    margin-left: 50px;
}

/* NEARBY */

#nearby{
    left:0;
    bottom:-100vh;
    padding:20px;
}

.card-container{
    width:100%;
    height:100%;
    margin-top:30px;

    display:flex;
    gap:20px;

    overflow-x:auto;

    scroll-snap-type:x mandatory;
}

.place-card{
    min-width: 80vw;
    height: 90%;

    background:rgba(0, 0, 0, 1);
    color: white;

    padding:10px;
    

    scroll-snap-align:center;

    display:flex;
    flex-direction:column;
    gap:20px;

    text-decoration:none;
    cursor:pointer;
}

.place-image{
    width:100%;
    height: 90%;
    object-fit:cover;
    display:flex;
    align-items:center;

}

.place-content{
    display:flex;
    flex-direction:column;
    gap:10px;
    flex:1;
}

.distance{
    font-size:4vw;
    color:#e6e6e6;
}

@keyframes move{
    0%, 100%{
        transform: translateY(5%);
    }
    50%{
        transform: translateY(-5%);
    }
}

.bside{
    position: absolute;
    height: 20vw;
    width: auto; 
}
#b{
    top: 40%;
    left: 5%;
    animation: move 3s ease-in-out infinite;
    transform-origin: center;
}
#s1{
    top: 42%;
    left: 25%;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.2s;
}
#i{
    top: 39%;
    left: 35%;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.3s;
}
#d{
    top: 30%;
    left: 43%;
    height: 40vw;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.9s;
}
#e{
    top: 42%;
    left: 55%;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.5s;
}
#s2{
    top:40%;
    left: 65%;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.7s;
}

@keyframes breathe{
    0%, 100%{
        transform: scale(0.01);
    }
    50%{
        transform: scale(10);
    }
}

@keyframes in{
    0%{
        top:20%;
        left: -20%;
        height:90vw;
        rotate:180deg;
    }
    100%{
        top: 40%;
        left: 5%;
        height: 20vw;
        rotate: 0deg;
    }
}
#bb{
    top: 40%;
    left: 5%;
    animation: in 0.3s ease-in-out forwards;
    animation: move 3s ease-in-out infinite;
}
@keyframes in2{
    0%{
        top:20%;
        left: 0%;
        height:90vw;
        rotate:180deg;
    }
    100%{
        top: 40%;
        left: 25%;
        height: 20vw;
        rotate: 0deg;
    }
}
#ss1{
    top: 42%;
    left: 25%;
    animation: in2 0.4s ease-in-out forwards;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.2s;
}
@keyframes in3{
    0%{
        top:20%;
        left: -20%;
        height:90vw;
        rotate:180deg;
    }
    100%{
        top: 39%;
        left: 35%;
        height: 20vw;
        rotate: 0deg;
    }
}
#ii{
    top: 39%;
    left: 35%;
    animation: in3 0.4s ease-in-out forwards;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.3s;
}
@keyframes in4{
    0%{
        top:70%;
        left: -20%;
        height:90vw;
        rotate:180deg;
    }
    100%{
        top: 30%;
        left: 43%;
        height: 40vw;
        rotate: 0deg;
    }
}
#dd{
    top: 30%;
    left: 43%;
    height: 40vw;
    animation: in4 0.5s ease-in-out forwards;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.9s;
}
@keyframes in5{
    0%{
        top: 0%;
        left: 200%;
        height:90vw;
        rotate:180deg;
    }
    100%{
        top: 42%;
        left: 55%;
        height: 20vw;
        rotate: 0deg;
    }
}
#ee{
    top: 42%;
    left: 55%;
    animation: in5 0.6s ease-in-out forwards;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.5s;
}
@keyframes in6{
    0%{
        top:90%;
        left: 400%;
        height:90vw;
        rotate:180deg;
    }
    100%{
        top: 40%;
        left: 65%;
        height: 20vw;
        rotate: 0deg;
    }
}
#ss2{
    top:40%;
    left: 65%;
    animation: in6 0.7s ease-in-out forwards;
    animation: move 3s ease-in-out infinite;
    animation-delay: 0.7s;
}



#overlay{
    inset: 0;
}

.cross{
    position: absolute;
    height: 10vw;
    width: auto;
}
#ctopleft{
    top: 0;
    left: 0;
}
#ctopright{
    top: 0;
    right: 0;
}
#cbotleft{
    bottom: 0;
    left: 0;
}
#cbutleft{
    bottom: 0;
    right: 0;
}
#cmidleft{
    top: 50%;
    left: 0;
}
#cmidright{
    top: 50%;
    right: 0;
}